.row{
    margin-left: 20px;
}

.row_images{
    display: flex;
    overflow-y: hidden; /* hide room for scroll horizontally */
    overflow-x: scroll; /* x-axis to be scroll */
    padding:20px
}

.row_images::-webkit-scrollbar{
    display: none; /* dont show scrollbar */
}

.row_image{
    object-fit: contain; /*maintains aspect ratio*/
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 400ms; /* if size changes we give a delay of 400ms */
}

.row_image:hover{
    transform: scale(1.08); /* scale the image by size*1.08* */
}

.row_image_large{
    max-height: 250px;
}

.row_image_large:hover{
    transform: scale(1.09);
}